/* *************** BASE STYLES *************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-width: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

/* *************** BASE STYLES *************** */

/* *************** INSTAGRAM WRAPPER *************** */

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

/* *************** INSTAGRAM PHONE *************** */
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* *************** INSTAGRAM CONTINUE *************** */
.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

/* *************** INSTAGRAM GROUP *************** */
.instagram-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
}

.instagram-group:nth-child(1) {
    min-width: 3rem;
}

/* *************** INSTAGRAM LOGO *************** */
.instagram-logo {
    height: 3rem;
}