/*
# -------------------------------------------------------------------------------------------------
#
# Name: main.css
# Version: 1.0.0
#
# Summary: Recriando a página inicial do Instagram usando Flex Container.
#          O Flex Container é a tag que envolve os itens flex, ao indicar display: flex, 
#          essa tag passa a ser um Flex Container.
#
# Author: Alexsander Lopes Camargos
# Author-email: alcamargos@vivaldi.net
#
# License: MIT
#
# -------------------------------------------------------------------------------------------------
*/

/* *************** BASE STYLES *************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-width: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}


/* Styling for this page is organized from top to bottom of what is shown on the page. */


/* *************** GET APP ON WINDOWS STORE *************** */
.instagram-windows-store {
    position: absolute;
    width: 100%;
    background: linear-gradient(to right, mediumvioletred, indianred);
}

.instagram-windows-store nav {
    overflow: auto;
    color: white;
}

.instagram-nav-top {
    float: left;
    padding: 10px;
}

.instagram-windows-store a {
    color: white
}

.instagram-windows-store a:hover {
    font-weight: 600;
}

h4 {
    font-size: 15px;
    font-weight: 600
}

h5 {
    font-size: 12px;
    font-weight: 500;
}

.instagram-nav-get-btn {
    float: right;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10px 15px;
}


/* *************** INSTAGRAM MAIN WRAPPER *************** */
.instagram-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100vh;
    padding-top: 50px;
}

.instagram-container {
    display: flex;
    width: 100%;
    max-width: 93.5rem;
    margin: 3rem auto 0;

}
/* *************** INSTAGRAM PHONE *************** */
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* *************** INSTAGRAM PHONE SLIDESHOW *************** */

.instagram-phone-slideshow-container {
    display: block;
    max-width: 427px;
    max-height: 240px;
    position: absolute;
    z-index: 10;
}

.instagram-phone-slideshow-wrapper {
    position: absolute;
    margin-left: -76px;
    margin-top: -211px;
    animation: round 30s infinite;
    opacity: 0;
    top: 0;
    left: 0;
}

.instagram-phone-slideshow-wrapper img {
    height: auto;
    width: auto;
}


@keyframes round {
    10% {
        opacity: 1;
    }

    20% {
        opacity: 0;
    }
}


.instagram-phone-slideshow-wrapper:nth-child(1) {
    animation-delay: 0s;
}

.instagram-phone-slideshow-wrapper:nth-child(2) {
    animation-delay: 4s;
}

.instagram-phone-slideshow-wrapper:nth-child(3) {
    animation-delay: 8s;
}

.instagram-phone-slideshow-wrapper:nth-child(4) {
    animation-delay: 12s;
}

.instagram-phone-slideshow-wrapper:nth-child(5) {
    animation-delay: 16s;
}


/* *************** INSTAGRAM CONTINUE *************** */
.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

/* *************** INSTAGRAM GROUP *************** */
.instagram-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.instagram-group:nth-child(1) {
    min-height: 19rem;
}

/* *************** INSTAGRAM LOGO *************** */
.instagram-logo {
    height: 3rem;
}

/* *************** PROFILE PHOTO *************** */
.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

/* *************** INSTAGRAM LOGIN/LOGOUT *************** */
.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

/* *************** NOT-ACCOUNT / LINK-BLUE *************** */
.not-account {
    color: rgb(160, 160, 160);
    margin: 5px;
}

.link-blue {
    color: #0095f6;
}

/* *************** INSTAGRAM DOWNLOAD *************** */
.instagram-get-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.instagram-download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('../img/badge_ios.png');
}

.app-download:nth-child(2) {
    background-image: url('../img/badge_android.png');
}

.app-download:nth-child(3) {
    background-image: url('../img/badge_windows.png');
}


/* *************** INSTAGRAM FOOTER *************** */
footer {
    display: flex;
    padding: 15px 0;
    color: #999999;
}

footer .instagram-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 52px;
    font-size: 8px;
}

.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 3px;
}

.footer-nav ul li {
    margin-right: 1.6rem;
    padding: 5px;
    margin: -2px 0 -3px;
}

.footer-nav ul li:first-letter {
    text-transform: capitalize;
}

.footer-nav ul li a {
    color: #8e8e8e;
    font-weight: 300;
}


/* *************** MEDIA QUERIES *************** */
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }

    .instagram-windows-store {
        width: 100%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: white;
    }

    .instagram-group {
        border: 1px solid transparent;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-windows-store {
        display: none;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
}