/* *************** BASE STYLES *************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-width: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

/* *************** BASE STYLES *************** */

/* *************** INSTAGRAM WRAPPER *************** */

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

/* *************** INSTAGRAM PHONE *************** */
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* *************** INSTAGRAM CONTINUE *************** */
.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

/* *************** INSTAGRAM GROUP *************** */
.instagram-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgrey;
}

.instagram-group:nth-child(1) {
    min-width: 19rem;
}

/* *************** INSTAGRAM LOGO *************** */
.instagram-logo {
    height: 3rem;
}

/* *************** PROFILE PHOTO *************** */
.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    width: 6rem;
}

/* *************** INSTAGRAM LOGIN/LOGOUT *************** */
.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

/* *************** NOT-ACCOUNT / LINK-BLUE *************** */
.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}