/* *************** BASE STYLES *************** */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-width: 100vh;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
}

/* *************** BASE STYLES *************** */

/* *************** INSTAGRAM WRAPPER *************** */

.instagram-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    height: 100vh;

}

.instagram-container {
    display: flex;
    width: 100%;
    max-width: 93.5rem;
    margin: 3rem auto 0;

}

/* *************** INSTAGRAM PHONE *************** */
.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

/* *************** INSTAGRAM CONTINUE *************** */
.instagram-continue {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

/* *************** INSTAGRAM GROUP *************** */
.instagram-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

.instagram-group:nth-child(1) {
    min-height: 19rem;
}

/* *************** INSTAGRAM LOGO *************** */
.instagram-logo {
    height: 3rem;
}

/* *************** PROFILE PHOTO *************** */
.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

/* *************** INSTAGRAM LOGIN/LOGOUT *************** */
.instagram-login {
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

/* *************** NOT-ACCOUNT / LINK-BLUE *************** */
.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

/* Styling for this page is organized from top to bottom of what is shown on the page. */

/* *************** INSTAGRAM DOWNLOAD *************** */
.instagram-get-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.instagram-download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('../img/badge_ios.png');
}

.app-download:nth-child(2) {
    background-image: url('../img/badge_android.png');
}

.app-download:nth-child(3) {
    background-image: url('../img/badge_windows.png');
}

/* *************** INSTAGRAM FOOTER *************** */
footer {
    display: flex;
    padding: 15px 0;
    color: #999999;
}

footer .instagram-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 52px;
    font-size: 8px;
}

.footer-nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 3px;
}

.footer-nav ul li {
    margin-right: 1.6rem;
    padding: 5px;
    margin: -2px 0 -3px;
}

.footer-nav ul li:first-letter {
    text-transform: capitalize;
}

.footer-nav ul li a {
    color: #8e8e8e;
    font-weight: 300;
}


/* *************** MEDIA QUERIES *************** */
@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: white;
    }

    .instagram-group {
        border: 1px solid transparent;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
}